
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <!---
       <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
                -->
            <a mat-list-item class="nav-link" routerLink="home" class="w3-bar-item w3-button">
                <i class="fa fa-home" aria-hidden="true"></i>Accueil</a>


            <a mat-list-item class="nav-link" routerLink="Aproposdemoi" class="w3-bar-item w3-button"> 
                <i class="fa fa-user"></i> A propos de moi</a>


            <a mat-list-item class="nav-link"routerLink="experiences" class="w3-bar-item w3-button">
                <i class="fa fa-briefcase" aria-hidden="true"></i>Expériences</a>



            <a mat-list-item class="nav-link"routerLink="Formations" class="w3-bar-item w3-button">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>Formations</a>


            <a mat-list-item class="nav-link"routerLink="contact" class="w3-bar-item w3-button">
                <i class="fa fa-envelope"></i>Contact</a>
                <!--
            </ul>
       </div>
       -->
    </div>
 </nav>