<div class="w3-content w3-container w3-padding-64" id="contact">


    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m12 w3-panel w3-center">

            <div class="w3-large w3-margin-bottom">
                <i class="fas fa-mobile-alt w3-xlarge w3-margin-right"></i> 06 35 31 57 65<br>
                <i class="fa fa-envelope fa-fw w3-xlarge w3-margin-right"></i>florent.zabsonre@gmail.com<br>
            </div>
        
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-linkedin-square w3-xlarge w3-margin-right" aria-hidden="true"></i><a href="https://www.linkedin.com/in/florent-zabsonre-0761a813b" target="_blank">LinkedIn</a><br>
            </div>
        </div>
    </div>
</div>